<section>
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="assets/images/carousel_10.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="assets/images/carousel_13.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="assets/images/carousel_12.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>
<section>
    <h2> Most Popular GenAI tools</h2>
    <div *ngIf="showLoader; else elseBlock" class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <ng-template #elseBlock>
        <div class="card-group">
            <div *ngFor="let course of courses" class="card" style="width: 18rem;">
                <img src="assets/images/{{ course.coverImage }}" class="card-img-top" alt="{{ course.title }}">
                <div class="card-body">
                    <h5 class="card-title">{{ course.title }}</h5>
                    <p class="card-text">{{ course.description }}</p>
                    <a href="#" class="btn btn-primary">Learn more</a>
                </div>
            </div>
        </div>
    </ng-template>
</section>
<section>
    <h2>Top Trainers</h2>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header trainer-profile">
                        <img src="assets/images/blank_avatar.jpg" alt="...">
                        <span class="card-title">Adam</span>
                        <span class="trainer-rank"><i class="fa fa-heart"></i>&nbsp;50</span>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Trainer 1 is an expert in AI and machine learning.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-header trainer-profile">
                        <img src="assets/images/blank_avatar.jpg" alt="...">
                        <span class="card-title">Adam</span>
                        <span class="trainer-rank"><i class="fa fa-heart"></i>&nbsp;50</span>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Trainer 1 is an expert in AI and machine learning.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-header trainer-profile">
                        <img src="assets/images/blank_avatar.jpg" alt="...">
                        <span class="card-title">Adam</span>
                        <span class="trainer-rank"><i class="fa fa-heart"></i>&nbsp;50</span>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Trainer 1 is an expert in AI and machine learning.</p>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>